<!DOCTYPE html>
<html>
  <head>
    <title>My Film Inventory</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <main>
      <div class="sidebar">
        <ul>
          <h3>View</h3>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Shows</a></li>
          <li><a href="#">Directors</a></li>
          <li><a href="#">Actors</a></li>
          <li><a href="#">Genres</a></li>
        </ul>
        <ul>
          <h3>Create</h3>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Shows</a></li>
          <li><a href="#">Directors</a></li>
          <li><a href="#">Actors</a></li>
          <li><a href="#">Genres</a></li>
        </ul>
      </div>
      <div class="content"><%- body %></div>
    </main>
  </body>
</html>
