<!DOCTYPE html>
<html>
  <head>
    <title>My Film Inventory</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <main>
      <div class="sidebar">
        <ul>
          <h3>View</h3>
          <li><a href="/">Home</a></li>
          <li><a href="/movies">Movies</a></li>
          <li><a href="#">Shows</a></li>
          <li><a href="/directors">Directors</a></li>
          <li><a href="/actors">Actors</a></li>
          <li><a href="/genres">Genres</a></li>
        </ul>
        <ul>
          <h3>Create</h3>
          <li><a href="/movies/create">Movies</a></li>
          <li><a href="#">Shows</a></li>
          <li><a href="/directors/create">Directors</a></li>
          <li><a href="/actors/create">Actors</a></li>
          <li><a href="/genres/create">Genres</a></li>
        </ul>
      </div>
      <div class="content"><%- body %></div>
    </main>
  </body>
</html>
