<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <script src="/js/script.js"></script>
    <title>My Film Inventory</title>
  </head>
  <body>
    <main>
      <div class="hamburger-menu">
        <span class="hamburger-icon">&#9776;</span>
      </div>
      <div class="sidebar">
        <div class="content-list">
          <ul>
            <h3>View</h3>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/directors">Directors</a></li>
            <li><a href="/actors">Actors</a></li>
            <li><a href="/genres">Genres</a></li>
          </ul>
          <ul>
            <h3>Create</h3>
            <li><a href="/movies/create">Movies</a></li>
            <li><a href="/directors/create">Directors</a></li>
            <li><a href="/actors/create">Actors</a></li>
            <li><a href="/genres/create">Genres</a></li>
          </ul>
        </div>
        <div class="sidebar-footer">
          <p>&copy; 2024 BIT Productions</p>
        </div>
      </div>
      <div class="content"><%- body %></div>
    </main>
  </body>
</html>
