html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
}

/* LAYOUT PAGE */

.sidebar {
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: beige;
  padding-left: 1rem;
}

.content {
  width: 85%;
  height: 100vh;
  overflow-y: auto; /* Make only the content scrollable */
  padding-left: 1.5rem;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  main {
    flex-direction: column; /* Stack sidebar on top of content */
  }

  .sidebar {
    width: 100%;
    height: auto; /* Adjust height to fit content */
    flex-direction: row;
  }

  .content {
    width: 100%;
    height: auto; /* Adjust height to fit content */
    padding-left: 1rem; /* Adjust padding for mobile */
  }
}

.resized-image {
  width: 150px;
  height: 225px;
  object-fit: cover;
}

.resized-image-detail {
  width: 300px;
  height: 450px;
  object-fit: cover;
}
