html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  display: flex;
}

/* LAYOUT PAGE
   STYLE SIDEBAR AND HAMBUGER MENU FOR MOBILE
*/
/* #region */

/* Style the hamburger menu */
.hamburger-menu {
  position: fixed;
  height: 50px;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
  cursor: pointer;
  display: none; /* Hide by default */
}

.hamburger-icon {
  font-size: 2rem;
  color: #333;
}

/* Show the sidebar when active */
.sidebar.active {
  display: block;
}

/* Style the sidebar content */
.sidebar .content-list ul {
  list-style-type: none;
  padding: 0;
}

.sidebar .content-list h3 {
  margin-top: 0;
}

.sidebar .content-list li {
  margin: 0.5rem 0;
}

.sidebar .content-list a {
  color: white;
  text-decoration: none;
}

.sidebar .sidebar-footer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.content {
  width: 85%;
  height: 100vh;
  overflow-y: auto; /* Make only the content scrollable */
  padding-left: 1.5rem;
}

/* Media query for larger screens */
@media (min-width: 769px) {
  .hamburger-menu {
    display: none; /* Hide hamburger menu on larger screens */
  }

  .sidebar {
    display: flex; /* Show sidebar on larger screens */
    justify-content: space-between;
    flex-direction: column;
    position: static;
    width: 15%;
    max-width: 200px;
    height: 100vh;
    background-color: beige;
    padding-left: 1rem;
    box-shadow: none;
  }

  .sidebar .content-list ul {
    display: block; /* Ensure ul elements are block */
    margin-top: 2rem;
  }

  .sidebar .content-list li {
    display: list-item; /* Ensure li elements are list items */
    margin: 0.5rem 0; /* Add margin for spacing */
  }

  .sidebar .content-list a {
    color: inherit; /* Reset link color */
  }

  .sidebar .sidebar-footer {
    position: static; /* Reset position */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  main {
    flex-direction: column; /* Stack sidebar on top of content */
  }
  .hamburger-menu {
    display: block; /* Show hamburger menu on smaller screens */
  }

  .sidebar {
    display: none; /* Hide sidebar by default on smaller screens */
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    max-height: 450px;
    background-color: #333;
    color: white;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .content {
    width: 100%;
    height: auto; /* Adjust height to fit content */
    padding-left: 0;
  }
}
/* #endregion */

/* LIST PAGES */
/* #region */
.item-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  justify-content: space-evenly;
}

.item-card {
  list-style-type: none;
  margin-bottom: 1rem;
  flex: 1 1 calc(45% - 1rem);
  max-width: calc(45% - 1rem);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  background-color: beige; /* Ensure the background is white */
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

@media (max-width: 768px) {
  .item-list {
    flex-direction: column;
  }

  .item-card {
    flex: 1 1 90%; /* Take up 90% of the parent width on smaller screens */
    max-width: 90%; /* Ensure the card doesn't exceed 90% width */
  }
}

.item-card a {
  text-decoration: none;
  color: black;
}

.item-card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.item-card ul {
  text-align: left;
}

.item-card p {
  margin: 0;
}

.director-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.25rem;
}

.director-container p {
  margin: 0; /* Remove default margin */
}

.director-container a p {
  display: inline; /* Ensure the director names are inline */
}

.resized-image {
  width: 150px;
  height: 225px;
  object-fit: cover;
  margin: 1rem;
}

@media (max-width: 768px) {
  .item-card {
    flex: 1 1 100%;
  }
}
.resized-image-detail {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.genre-info {
  list-style: none;
  font-size: larger;
}

.genre-info a {
  font-style: normal;
  text-decoration: none;
}
/* #endregion */

.item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.item-detail img {
  padding: 0.5rem;
}
