<div class="list-page">
  <h1>List of Genres</h1>
  <% if (genres.length) { %>
  <ul class="item-list">
    <% genres.forEach(genre => { %>
    <li class="item-card">
      <a href="/genres/<%= genre._id %>"
        ><h3 class="genre-list-name"><%= genre.name %></h3></a
      >
    </li>
    <% }); %>
  </ul>
  <% } else { %>
  <p>There are no kinds of genre registered</p>
  <% } %>
</div>
